@import "../../../styles/mixin.scss";

.review-chat-comp {
  .container {
    @include desktop {
      display: flex;
    }
    .review-container {
      padding: 20px;
      @include desktop {
        flex: 1;
      }

      .user {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
      }
      .time {
        font-size: 14px;
        color: #999999;
        padding: 8px 4px;
      }
      .review {
        padding: 16px 0;
      }

      .issue-container {
        padding: 16px 0;
        @include desktop {
          border-top: 1px solid #dddddd;
        }

        > .header {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 12px;
        }
      }
    }
    .comments-container {
      padding: 20px;
      border-top: 1px solid #dddddd;
      @include desktop {
        flex: 1;
        border-left: 1px solid #dddddd;
        border-top: 0;
      }
      .comments {
        .comment {
          .header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
          padding: 16px 0;
          border-bottom: 1px solid #dddddd;

          &:first-child {
            @include desktop {
              padding-top: 0;
            }
          }
          
          &:last-child {
            border-bottom: 0;
          }

          > .time {
            margin-bottom: 12px;
            font-size: 14px;
            color: #999999;
            padding: 8px 4px;
            text-align: right;
          }
        }
      }
    }
  }
  
}
